.obras-home-sec {
    .obras-home-box {
        width: 90%;
        margin: 0 auto;
        @media screen and (min-width: 1024px){
            width: 80%;
            margin-top: 4rem;
        }
        .obras-home-text {
            text-align: justify;
        }
        .obras-home-gallery {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @media screen and (min-width: 1024px){
                flex-direction: row;
                justify-content: space-between;
            }
            .obras-home-item {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                @media screen and (min-width: 1024px){
                    width: 31%;
                }
                .obras-home-img {
                    position: relative;
                    overflow: hidden;
                    width: 90%;
                    transition: all 0.3s;
                    img {
                        width: 100%;
                    }
                    @media screen and (min-width: 1024px){
                        width: 100%;
                    }
                    .gallery-img-detail {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        background-color: rgba($dark, $alpha: 0.5);
                        color: $l-text;
                        padding: 0 0.5rem;
                        text-align: center;
                    }
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
        .btn-obras {
            display: flex;
            width: 100%;
            margin: 0 auto;
            justify-content: center;
            a {
                display: block;
                padding: 0.7rem 1.5rem;
                background-color: $m-blue;
                color: $l-text;
                font-weight: bold;
                font-size: 1.2rem;
                border-radius: 5px;
                transition: all 0.2s;
                &:hover {
                    background-color: $l-blue;
                }
            }
        }
    }
}